# Node.js / NPM
node_modules/
npm-debug.log
yarn-error.log


# Build output
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Miscellaneous
.DS_Store
Thumbs.db
.env

# Client side
.next